{% extends 'base.html.twig' %}

{% block body %}

    <div class="container md-4">
        <h1>Editer le genre</h1>
        {{  include ('admin/genre/_form.html.twig', {form: form, button: 'Editer'}) }}
    </div>


{% endblock %}
