{% extends 'base.html.twig' %}

{% block title 'Voir tous mes livres' %}

{% block body %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <h3>Actions</h3>
                <a href="{{ path('admin.book.new') }}" class="btn btn-primary">Nouveau livre</a>
                {% include 'book/_search.html.twig' %}
            </div>
            <div class="col-md-9">
                <h3>Mes livres</h3>
                <div class="pagination">
                    {{ knp_pagination_render(books) }}
                </div>
                <div class="row">
                    {% for book in books %}
                        <div class="col-md-3">
                            {% include 'book/_book.html.twig' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}